<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>A new match for your search was found!</h1>
    <p><%= @home_ad.title %></p>
    <p>€<%= @home_ad.price %></p>
    <a href="https://www.pararius.com<%= @home_ad.link %>">Link</a>
  </body>
</html>
